<main class="body-content">
        <div class="search-wrapper">
            <input type="text" id="search-input" maxlength="60" placeholder="Search...">
            <button type="submit">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 18 18">
                    <g fill="#ffffff" class="nc-icon-wrapper">
                        <line x1="15.25" y1="15.25" x2="11.285" y2="11.285" fill="none" stroke="#ffffff" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" data-color="color-2"></line>
                        <circle cx="7.75" cy="7.75" r="5" fill="none" stroke="#ffffff " stroke-linecap="round" stroke-linejoin="round" stroke-width="2"></circle>
                    </g>
                </svg>
            </button>
        </div>
        <div class="tab-wrapper">
            <div class="tab-group tab-active">
                <%= image_tag 'tab-groups/treiven-biscuit.svg', alt: 'Treiven Biscuit' %>
                <span>Cookies</span>
            </div>
            <div class="tab-group tab">
                <%= image_tag 'tab-groups/treiven-brownie.svg', alt: 'Treiven Brownies' %>
                <span>Brownies</span>
            </div>
            <div class="tab-group tab">
                <%= image_tag 'tab-groups/treiven-cake.svg', alt: 'Treiven Cakes' %>
                <span>Cakes</span>
            </div>
            <div class="tab-group tab">
                <%= image_tag 'tab-groups/treiven-specialty.svg', alt: 'Treiven Specialty' %>
                <span>Specialty</span>
            </div>
        </div>
        <div class="grid-items-container">
            <div class="grid-items-wrapper">
                <% @image_urls.each do |image_url| %>
                <a href="" class="treiven-items">
                    <div class="treiven-pics">
                    <%= image_tag image_url, alt: 'Treiven Specialty' %>
                    </div>
                    <div class="treiven-infos">
                        <div class="treiven-product">
                            <span>So hot baby ruby when</span>
                            <p class="treiven-badge">Specials</p>
                        </div>
                        <div class="treiven-product-price">
                            <span>₱500.00</span>
                            <p class="avail-stocks">Available</p>
                        </div>
                    </div>
                </a>
                <% end %>
            </div>
        </div>
    </main>