<header class="nav-container">
    <nav class="nav-wrapper">
        <div class="nav-logo">
            <a href="./">
                <img src="/images/trieven.svg" alt="" />
            </a>
        </div>
        <ul class="nav-link-wrapper">
            <li class="nav-links">
                <%= link_to 'Explore' , root_path %>
            </li>
            <li class="nav-links">
                <%= link_to 'About' , about_path %>
            </li>
        </ul>
        <div class="right-side-wrapper">
            <div class="modal-info">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 18 18">
                    <g fill="#212121" class="nc-icon-wrapper">
                        <line x1="13.25" y1="5.25" x2="16.25" y2="5.25" fill="none" stroke="#212121"
                            stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"></line>
                        <line x1="1.75" y1="5.25" x2="8.75" y2="5.25" fill="none" stroke="#212121"
                            stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"></line>
                        <circle cx="11" cy="5.25" r="2.25" fill="none" stroke="#212121" stroke-linecap="round"
                            stroke-linejoin="round" stroke-width="1.5"></circle>
                        <line x1="4.75" y1="12.75" x2="1.75" y2="12.75" fill="none" stroke="#212121"
                            stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" data-color="color-2">
                        </line>
                        <line x1="16.25" y1="12.75" x2="9.25" y2="12.75" fill="none" stroke="#212121"
                            stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" data-color="color-2">
                        </line>
                        <circle cx="7" cy="12.75" r="2.25" fill="none" stroke="#212121" stroke-linecap="round"
                            stroke-linejoin="round" stroke-width="1.5" data-color="color-2"></circle>
                    </g>
                </svg>
            </div>
            <div class="auth-user-options">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 18 18">
                    <g fill="#212121" class="nc-icon-wrapper">
                        <circle cx="9" cy="4.5" r="2.75" fill="none" stroke="#212121" stroke-linecap="round"
                            stroke-linejoin="round" stroke-width="1.5" data-color="color-2"></circle>
                        <path
                            d="M13.762,15.516c.86-.271,1.312-1.221,.947-2.045-.97-2.191-3.159-3.721-5.709-3.721s-4.739,1.53-5.709,3.721c-.365,.825,.087,1.774,.947,2.045,1.225,.386,2.846,.734,4.762,.734s3.537-.348,4.762-.734Z"
                            fill="none" stroke="#212121" stroke-linecap="round" stroke-linejoin="round"
                            stroke-width="1.5"></path>
                    </g>
                </svg>
            </div>``
        </div>
        <div class="modal-option-wrapper" style="display: none; opacity: 0;">
            <li class="modal-links">
                <a href="">Sign up</a>
            </li>
            <li class="modal-links">
                <a href="">Sign in</a>
            </li>
            <li class="modal-links">
                <a href="" target="_blank">GitHub Repository</a>
            </li>
        </div>
    </nav>
</header>