.body-content {
    padding-top: 80px;
    padding-bottom: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

/* FIXED SIZE BOTTOM FOR EACH LAYERS */

.search-wrapper,
.tab-wrapper {
    margin-bottom: 1.475em;
}

/* SEARCH DESIGN */

.search-wrapper input[type="text"] {
    padding: 1.457em;
    border: 1px solid #DDDDDD;
    border-radius: 54px;
    width: 100%;
    z-index: 60;
}

.search-wrapper input[type="text"]:focus {
    border-color: #F47B37;
    outline: none;
}

.search-wrapper {
    width: 640px;
    position: relative;
}

.search-wrapper button {
    position: absolute;
    top: 50%;
    right: 8px;
    transform: translate(-20%, -50%);
    border-radius: 100%;
    border: 1px solid #622A0B;
    padding: 0.65em;
    appearance: none;
    outline: none;
    background: linear-gradient(190deg, #F47B37 -168.14%, #CC5817 425.2%);
}

.search-wrapper button:hover {
    background: linear-gradient(190deg, rgba(244, 123, 55, 0.8) -168.14%, rgba(204, 88, 23, 0.8) 425.2%);
}

.search-wrapper button svg {
    width: 24px;
}

/* Tab Groupings */

.tab-wrapper {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: 10px;
    justify-content: center;
}

.tab-group {
    display: grid;
    grid-auto-flow: row;
    place-items: center;
    padding: 0.575em;
    user-select: none;
}

.tab {
    border-radius: 8px;
}

.tab:hover {
    cursor: pointer;
    background: #f5f5f5;
}

.tab-active {
    border-bottom: 2px solid #000;
}

.tab-group img {
    width: 50px;
    height: 50px;
    object-fit: contain;
}

.tab-group span {
    font-size: 0.857em;
}

@media (max-width: 1024px) and (min-width: 469px) {
    .search-wrapper {
        width: 100%;
    }

    .body-content {
        padding: 40px 1em;
        align-items: flex-start;
    }

    .search-wrapper button {
        position: absolute;
        top: 50%;
        right: 0;
        transform: translate(-35%, -50%);
    }

    .tab-group span {
        font-size: 0.657em;
    }
}

@media (max-width: 468px) and (min-width: 320px) {
    .search-wrapper {
        width: 100%;
    }

    .body-content {
        padding: 120px 1em;
        align-items: flex-start;
    }

    .search-wrapper button {
        position: absolute;
        top: 50%;
        right: 0;
        transform: translate(-35%, -50%);
    }

    .tab-group img {
        width: 40px;
        height: 40px;
        object-fit: contain;
    }

    .tab-group span {
        font-size: 0.557em;
    }
}

/* Grid Items 4 Column */

.grid-items-wrapper {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: 20px;
    justify-content: center;
    margin: 0 auto;
    max-width: 1140px;
    padding-top: 3em;
}

.treiven-pics {
    border-radius: 12px;
    overflow: hidden;
    margin-bottom: 8px;
    height: 320px;
    border: 1px solid #ddd;
}

.treiven-pics img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.treiven-infos {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.treiven-product span,
.treiven-product-price span {
    font-size: 1em;
    word-wrap: break-word;
    color: #000;
}

.treiven-badge {
    margin-top: 0.5em;
    background: #D1FAE5;
    color: #065F46;
    padding: 0.25em;
    text-align: center;
    width: 80px;
    border-radius: 999px;
    font-size: 0.857em;
    border: 1px solid #9AE6B4;
}

.treiven-product-price {
    text-align: right;
}

.treiven-product-price p {
    font-size: 0.85em;
}

.avail-stocks {
    color: #5EAF1F;
    font-weight: bolder;
}

.out-of-stock {
    color: #e6183f;
    font-weight: bolder;
}

@media (max-width: 1024px) and (min-width: 768px) {
    .grid-items-wrapper {
        grid-template-columns: repeat(2, minmax(0, 1fr));
        gap: 16px;
    }

    .treiven-pics {
        border-radius: 8px;
        margin-bottom: 8px;
    }

    .treiven-product span,
    .treiven-product-price span {
        font-size: 1.657em;
    }

    .treiven-product-price p {
        font-size: 0.975em;
    }
}
@media (max-width: 767px) and (min-width: 480px) {
    .grid-items-wrapper {
        grid-template-columns: repeat(2, minmax(0, 1fr));
        gap: 12px;
    }
    .treiven-pics {
        border-radius: 8px;
        margin-bottom: 8px;
    }
    .treiven-product span,
    .treiven-product-price span {
        font-size: 0.957em;
    }
    .treiven-product-price p,
    .treiven-product p {
        font-size: 0.675em;
    }
    .treiven-pics img {
        width: 640px;
        height: 240px;
    }
}
@media (max-width: 479px) and (min-width: 320px) {
    .grid-items-wrapper {
        grid-template-columns: repeat(1, minmax(0, 1fr));
        gap: 12px;
    }
    .treiven-pics {
        border-radius: 8px;
        margin-bottom: 8px;
    }
    .treiven-product span,
    .treiven-product-price span {
        font-size: 1.257em;
    }
    .treiven-product-price p,
    .treiven-product p {
        font-size: 0.675em;
    }
    .treiven-pics img {
        width: 640px;
        height: 240px;
    }
}