/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/** APPLICABLE FOR GUESS SIDE **/
@import url("./modules/Navbar.module.css");
@import url("./modules/Login.module.css");
@import url("./modules/Modal.module.css");
@import url("./modules/Content.module.css");
@import url("./modules/Product.module.css");
@import url("./modules/Cart.module.css");
@import url("./modules/About.module.css");
/* @import url("./Glider.module.css"); */
@import url("./modules/Loading.module.css");

* {
    margin: 0;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

html,
body {
    isolation: isolate;
    height: 100%;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    font-family: "Manrope", sans-serif;
    font-weight: 500;
    /* all medium huh */
}

ol,
ul {
    padding: 0;
    list-style: none;
}

a,
button {
    text-decoration: none;
    cursor: pointer;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}