<!DOCTYPE html>
<html>
  <head>
    <title>Treiven - Pastries Order Now!</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap" rel="stylesheet">
    <%= favicon_link_tag asset_path('trv.png') %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>

  <body>

  <%= render partial: "shared/navbar" %>
  <main class="treiven-container">
    <%= yield %>
  </main>
  </body>
</html>
